{% extends "dashboard.html" %}

{% block title %}Actualizar Rol{% endblock %}

{% block content %}
<h2>Editar Rol</h2>

<div class="card">
    <div class="card-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="mb-3 col-md-6">
                {{ form.nombre.label(class="form-label") }}
                {{ form.nombre(class="form-control", placeholder="Ingrese el nombre del rol") }}
                {% if form.nombre.errors %}
                    <div class="text-danger">
                        {% for error in form.nombre.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3 col-md-6">
                {{ form.descripcion.label(class="form-label") }}
                {{ form.descripcion(class="form-control", placeholder="Ingrese la descripción") }}
                {% if form.descripcion.errors %}
                    <div class="text-danger">
                        {% for error in form.descripcion.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3 col-md-6 ">
                {{ form.estado.label(class="form-check-label") }}
                {{ form.estado(class="form-select-input") }}
                
            </div>

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{{ url_for('listaRoles') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
